In [1]:
import pandas as pd

# 강서구 월별 오염물 별 농도

In [199]:
# df = pd.read_csv('C:/codeit/rawdata.csv')

df = df[['월','pm2.5','so2','o3','no2','pm10']]

# lists = ['pm2.5','so2','o3','no2','pm10']

# for particle in lists:
#     for i in range(1,13):
#         print((df.loc[df['월'] == i, particle]).mean())
#     print('--------------------', particle)
    
# import seaborn as sns

# dataframe 을 만들어야해. row 는 월별, column은 물질별

pm25 = []

for i in range(1,13):
    pm25.append((df.loc[df['월'] == i, 'pm2.5']).mean())
month = []
for i in range(1,13):
    month.append(i)

diction = {
    'month': month,
    'pm25': pm25
}
df1 = pd.DataFrame(diction)
df1 = df1.set_index('month')

df1

            pm25
month
1      30.443919
2      32.975262
3      30.360457
4      30.096729
5      26.132153
6      27.153203
7      23.711486
8      16.739689
9      13.832012
10     18.253879
11     30.771588
12     25.923752

# 강서구 월별 pm2.5 평균 농도

In [155]:
for i in range(1,13):
    print(df.loc[df['월']==i,'pm2.5'].mean())

30.443918918918918
32.97526236881559
30.360457296570274
30.096729297146833
26.132152588555858
27.153203342618383
23.711486486486486
16.73968897903989
13.832011535688537
18.253878702397742
30.771587743732592
25.923751686909583

# 문자열 처리 (부산시 강서구) ==> (강서구)

In [98]:
ad = pd.read_csv('C:/codeit/alldata.csv')
ad.head()
ad['지역'] = ad['지역'].apply(lambda e: e.split()[1]) # 개쩔~~~~
ad['지역'].unique()

array(['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구',
       '서구', '수영구', '연제구', '영도구', '중구', '해운대구'], dtype=object)

In [159]:
busan_district = ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구','서구', '수영구', '연제구', '영도구', '중구', 
                  '해운대구']

# pm25 = ad[['월','지역','pm2.5']]

# for district in busan_district:
#     pm25[pm25['지역'] == district]
    
#     for i in range(1,13):

# 이중 포문하면 너무 오래걸려

# haeundae = pm25[pm25['지역'] == '해운대구']
# for i in range(1,13):
#     print((haeundae.loc[haeundae['월'] == i,'pm2.5']).mean())

##     print((haeundae.loc[haeundae['월'] == i,'pm2.5']).mean())
##    print(haeundae.loc[haeundae['월'] == i,'pm2.5']).mean()
## print문을 감싸는 괄호가 있냐 없냐의 차이는 크다!