In [4]:
import pandas as pd
df = pd.read_csv('C:/codeit/iphone.csv', index_col = 0)
df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [9]:
df.loc['iPhone 8', '메모리']
# .loc의 첫번째 칸엔 row, 뒤엔 column

# 약간 검색 기능 같네

'2GB'

In [11]:
# iphone 8의 정보를 통으로 받아오기
df.loc['iPhone 8', :]

출시일        2017-09-22
디스플레이             4.7
메모리               2GB
출시 버전        iOS 11.0
Face ID            No
Name: iPhone 8, dtype: object

In [13]:
# or
df.loc['iPhone X']

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [15]:
type(df.loc['iPhone X'])
# pandas의 series. series는 pandas의 일차원 자료형

pandas.core.series.Series

In [17]:
# 원하는 컬럼의 모든 정보를 보고 싶을 때(모든 row에 대해 보고 싶을 때)
df.loc[:, '출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [20]:
df['출시일']
# .loc 안쓰는 대신, row에 해당하는 칸 없애준다.

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

# Q. 방송사 시청률 받아오기 pt.1
2016년의 KBS방송국의 시청률을 찾아보자

In [52]:
df = pd.read_csv('C:/codeit/broadcast.csv', index_col = 0)
df

         KBS     MBC     SBS  TV CHOSUN   JTBC  Channel A    MBN
2011  35.951  18.374  11.173      9.102  7.380      3.771  2.809
2012  36.163  16.022  11.408      8.785  7.878      5.874  3.310
2013  31.989  16.778   9.673      9.026  7.810      5.350  3.825
2014  31.210  15.663   9.108      9.440  7.490      5.776  4.572
2015  27.777  16.573   9.099      9.940  7.267      6.678  5.520
2016  27.583  14.982   8.669      9.829  7.727      6.624  5.477
2017  26.890  12.465   8.661      8.886  9.453      6.056  5.215

In [53]:
df.loc[2016, 'KBS']

27.583000000000002

# Q. 방송사 시청률 받아오기 pt.2
JTBC의 시청률 확인하기

In [54]:
df['JTBC']

2011    7.380
2012    7.878
2013    7.810
2014    7.490
2015    7.267
2016    7.727
2017    9.453
Name: JTBC, dtype: float64

# Q. 방송사 시청률 받아오기 pt.3
SBS와 JTBC의 시청률만 확인하려면 어떻게 하면 될까요?

In [61]:
df[['SBS','JTBC']]

         SBS   JTBC
2011  11.173  7.380
2012  11.408  7.878
2013   9.673  7.810
2014   9.108  7.490
2015   9.099  7.267
2016   8.669  7.727
2017   8.661  9.453

- column = ['A','B']
- df[column]
- df[['A','B']]

- 요런 원리

# Q. 카드사 고객 분석
두 데이터프레임의 요일별 문화생활비를 분석해본다.

In [66]:
sam = pd.read_csv('C:/codeit/samsong.csv')
sam

    요일     식비   교통비  문화생활비    기타
0  MON  19420  2560   4308  3541
1  TUE  16970  2499   7644  2903
2  WED  15091  2511   5674  2015
3  THU  17880  2545   8621  3012
4  FRI  27104  2993  23052  2508
5  SAT  29055  2803  15330  4901
6  SUN  23509  1760  19030  4230

In [67]:
hyun = pd.read_csv('C:/codeit/hyundee.csv')
hyun

    요일     식비   교통비  문화생활비    기타
0  MON  22420  2574   5339  5546
1  TUE  19940  2689   3524  2501
2  WED  18086  2281   5364  2234
3  THU  18863  2155   9942  3252
4  FRI  35144  2463  33511  2342
5  SAT  34952  2812  19397  4324
6  SUN  28513  2680  19925  4577

In [71]:

# sam1 = sam['문화생활비']
# hyun1 = hyun['문화생활비']
# day = sam['요일']
# col = ['day','samsong','hyundee']

In [80]:
day = ['MON','TUE','WED','THU','FRI','SAT','SUN']
samsong = ['4308','7644','5674','8621','23052','15330','19030']
hyundee = ['5339','3524','5364','9942','33511','19397','19925']

dick = {
    'day':day,
    'samsong':samsong,
    'hyundee':hyundee
}
df2 = pd.DataFrame(dick)
df2
# 이건 쪼렙의 코딩, 노가다쓰 유노

   day samsong hyundee
0  MON    4308    5339
1  TUE    7644    3524
2  WED    5674    5364
3  THU    8621    9942
4  FRI   23052   33511
5  SAT   15330   19397
6  SUN   19030   19925

In [81]:
import pandas as pd

samsong_df = pd.read_csv('C:/codeit/samsong.csv')
hyundee_df = pd.read_csv('C:/codeit/hyundee.csv')

combined_df = pd.DataFrame({
    'day': samsong_df['요일'], 
    'samsong': samsong_df['문화생활비'], 
    'hyundee': hyundee_df['문화생활비']
})
combined_df

# 이건 코드잇 답변. 교통비나 생활비로도 DataFrame만들어보기

   day  samsong  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925

# DataFrame Indexing pt.2

In [100]:
df = pd.read_csv('C:/codeit/iphone.csv', index_col = 0)
df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [83]:
df.loc[['iPhone X', 'iPhone 8']]
#원하는 로우만 골라서 가져오기.

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [85]:
type(df.loc[['iPhone X', 'iPhone 8']])
# 얘는 2차원이기에 DataFrame, not Series

pandas.core.frame.DataFrame

In [87]:
# column 가져오기
df['Face ID']

iPhone 7          No
iPhone 7 Plus     No
iPhone 8          No
iPhone 8 Plus     No
iPhone X         Yes
iPhone XS        Yes
iPhone XS Max    Yes
Name: Face ID, dtype: object

In [88]:
df[['Face ID','출시일','메모리']]

              Face ID         출시일  메모리
iPhone 7           No  2016-09-16  2GB
iPhone 7 Plus      No  2016-09-16  3GB
iPhone 8           No  2017-09-22  2GB
iPhone 8 Plus      No  2017-09-22  3GB
iPhone X          Yes  2017-11-03  3GB
iPhone XS         Yes  2018-09-21  4GB
iPhone XS Max     Yes  2018-09-21  4GB

In [89]:
df.loc['iPhone 8':'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [90]:
df.loc[:'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [92]:
df['메모리':'Face ID']
#원하는 대로 안나와

Empty DataFrame
Columns: [출시일, 디스플레이, 메모리, 출시 버전, Face ID]
Index: []

In [94]:
df.loc[:,'메모리':'Face ID']
# 컬럼의 인덱싱은 요러케 해주어야 한다

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes
iPhone XS Max  4GB  iOS 12.0     Yes

In [96]:
df.loc['iPhone 7':'iPhone X','메모리':'Face ID']
# row & column의 both indexing

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes

# Q. 방송사 시청률 받아오기 pt.4
- 'KBS'에서 'SBS'까지, 연도는 2012년 부터 2017년 까지의 시청률만 확인하기

In [97]:
df = pd.read_csv('C:/codeit/broadcast.csv', index_col = 0)
df

         KBS     MBC     SBS  TV CHOSUN   JTBC  Channel A    MBN
2011  35.951  18.374  11.173      9.102  7.380      3.771  2.809
2012  36.163  16.022  11.408      8.785  7.878      5.874  3.310
2013  31.989  16.778   9.673      9.026  7.810      5.350  3.825
2014  31.210  15.663   9.108      9.440  7.490      5.776  4.572
2015  27.777  16.573   9.099      9.940  7.267      6.678  5.520
2016  27.583  14.982   8.669      9.829  7.727      6.624  5.477
2017  26.890  12.465   8.661      8.886  9.453      6.056  5.215

In [99]:
df.loc['2012':'2017','KBS':'SBS']

         KBS     MBC     SBS
2012  36.163  16.022  11.408
2013  31.989  16.778   9.673
2014  31.210  15.663   9.108
2015  27.777  16.573   9.099
2016  27.583  14.982   8.669
2017  26.890  12.465   8.661

# DataFrame 조건으로 Indexing

In [101]:
df = pd.read_csv('C:/codeit/iphone.csv', index_col = 0)
df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [103]:
df.loc[[True,False,True,True,False,True,False]]
# wow 처음 봄

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [105]:
df.loc[[True,False,True,True]]
# 나머지 row는 false로 간주된다.

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No

In [107]:
df.loc[:,[True,False,False,True]]
# column에 대한 불린값으로 출력

                      출시일     출시 버전
iPhone 7       2016-09-16  iOS 10.0
iPhone 7 Plus  2016-09-16  iOS 10.0
iPhone 8       2017-09-22  iOS 11.0
iPhone 8 Plus  2017-09-22  iOS 11.0
iPhone X       2017-11-03  iOS 11.1
iPhone XS      2018-09-21  iOS 12.0
iPhone XS Max  2018-09-21  iOS 12.0

In [110]:
# 어느 경우에 쓰냐면

df['디스플레이']>5
#판다스 시리즈.

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [111]:
df.loc[df['디스플레이']>5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [112]:
df['Face ID'] == 'Yes'

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: Face ID, dtype: bool

In [113]:
df.loc[df['Face ID'] == 'Yes']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [114]:
# 디스플레이가 5보다 크면서 얼굴 인식도 되는 아이폰을 찾는다.

In [116]:
condition = (df['디스플레이']>5) & (df['Face ID'] == 'Yes')
df[condition]
# 조건에 맞게 필터링 되서 나온다.
# or조건을 쓰고 싶다면 &대신 |를 써주면 된다.

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

# Q. 방송사 시청률 받아오기 pt.5
- KBS에서 시청률이 30만 넘은 데이터를 확보하기

In [127]:
df = pd.read_csv('C:/codeit/broadcast.csv', index_col = 0)

In [134]:
condition = (df.loc[:,'KBS'] > 30)
df.loc[condition,'KBS']

2011    35.951
2012    36.163
2013    31.989
2014    31.210
Name: KBS, dtype: float64

### condition을 조건으로 첫번째 칸에 써주지 않으면, 'KBS'뿐만 아니라 모든 영역에 걸쳐 결과값이 출력된다.

# Q. 방송사 시청률 받아오기 pt.6

- SBS가 TV CHOSUN 보다 더 시청률이 낮았던 시기의 데이터 확인
- DataFrame 형식으로 SBS와 TV CHOSUN의 칼럼 추출

In [151]:
cond = df['SBS'] < df['TV CHOSUN']
dff = df[cond]
dff[['SBS','TV CHOSUN']]

        SBS  TV CHOSUN
2014  9.108      9.440
2015  9.099      9.940
2016  8.669      9.829
2017  8.661      8.886

# DataFrame 위치로 인덱싱하기

In [152]:
df = pd.read_csv('C:/codeit/iphone.csv', index_col = 0)
df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [156]:
df.iloc[2, 4]
# loc와 달리 행과 열의 번호 설정으로만 원하는 데이터값 추출할 수 있다.

'No'

In [157]:
df.iloc[[2, 4],[1,4]]

          디스플레이 Face ID
iPhone 8    4.7      No
iPhone X    5.8     Yes

In [158]:
df.iloc[3:,1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0